# Conditional dependency (kept from your setup.py)
triton ; sys_platform == "linux" and platform_machine == "x86_64"

torch
torch-optimizer
torch-stoi
torchaudio
torchmetrics
torchvision
tqdm
transformers
typing-extensions
urllib3
validators
werkzeug
wfdb
yarl
zipp
scikit-learn
scipy
sentencepiece
moviepy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardx
